# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [2]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [3]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    return black_friday.shape

q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [5]:
def q2():
    q2 = black_friday[(black_friday['Gender']=='F') &  (black_friday['Age'] == '26-35')]
    return q2.shape[0]

q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [6]:
def q3():
    q3 = len(black_friday['User_ID'].unique())
    return q3

q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [7]:
def q4():
    q4 = len(black_friday.dtypes.unique())
    return q4

q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [8]:
def q5():
    total =  black_friday.shape[0]
    sem_null = black_friday.dropna().shape[0]

    q5 = (total - sem_null)/total
    return q5

q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [9]:
def q6():
    q6 = int(black_friday.isna().sum().max())
    return q6

q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [10]:
def q7():
    q6 = black_friday['Product_Category_3'].value_counts()
    return q6.index[0]

q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [11]:
def q8():
    compra = black_friday['Purchase'].copy()
    normalizado = (compra - compra.min()) / (compra.max() - compra.min())
    return float(normalizado.mean())

q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [12]:
def q9():
    compra = black_friday.Purchase.copy()
    padronizado = (compra - compra.mean()) / compra.std()    
    return int(padronizado.between(-1, 1).sum())

q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [13]:
def q10():
    if black_friday[black_friday.Product_Category_2.isna()].Product_Category_3.notna().sum()==0:
        return True
    else:
        return False
    
q10()

True

In [18]:
black_friday.Product_Category_2.isna()

0          True
1         False
2          True
3         False
4          True
5         False
6         False
7         False
8         False
9          True
10        False
11         True
12         True
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21         True
22         True
23         True
24        False
25        False
26         True
27        False
28        False
29        False
          ...
537547    False
537548     True
537549    False
537550     True
537551    False
537552    False
537553    False
537554    False
537555    False
537556    False
537557     True
537558    False
537559    False
537560    False
537561    False
537562    False
537563     True
537564    False
537565     True
537566     True
537567    False
537568     True
537569    False
537570    False
537571    False
537572    False
537573    False
537574    False
537575     True
537576    False
Name: Product_Category_2, Length: 537577, dtype: bool